# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
milon/
venv/
.venv/

# Django files
db.sqlite3
media/
logs/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

logs/django.log