<!-- Footer -->
<footer class="bg-dark text-light pt-4 pb-4 mt-5 footer-custom">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3 border-bottom border-success pb-2">About Me</h5>
        <ul class="list-unstyled">
          <li>Django Developer</li>
          <li>Full Stack Developer (Django + React)</li>
          <li>Django REST API Developer</li>
          <li>Python Developer (Django)</li>
        </ul>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 mb-4">
        <h5 class="text-uppercase mb-3 border-bottom border-success pb-2">Important Pages</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="{% url 'home_page' %}">Privacy and Policy</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'project_list' %}">Projects</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'register_business' %}">Resigter Here For your business</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3 border-bottom border-success pb-2">Contact Aynal Haque</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-envelope-fill me-2"></i> aynalhaque7411@gmail.com</li>
          <li><i class="bi bi-telephone-fill me-2"></i> +8801908214958</li>
        </ul>
      </div>
    </div>

    <hr class="bg-secondary">
    <p class="text-center mb-0">&copy; {{ now|date:"Y" }} Developed By Aynal Haque</p>
  </div>
</footer>

