
.footer-custom {
  color: #ffffff;
  font-size: 15px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0 10px;
  font-weight: 500;
}

.footer-links a:hover {
  color: #ffeb3b;
  padding-left: 5px;
  text-decoration: underline;
}

.footer-custom h5 {
  color: #ffffff;
  font-weight: bold;
}

.footer-custom ul li {
  margin-bottom: 8px;
}

.footer-custom i {
  color: #ffeb3b;
  margin-right: 8px;
}


